html{
    background-image: url(4thFloor.jpg);
    background-size: cover;
    position: relative;
    font-family: 'Roboto', sans-serif;
}
.container{
    height: 500px;
    width: 400px;
    background-color: #ffffff;
    text-align: center;
    border-radius: 1.3%;
}
#username,#password{
    display: block;
    margin: 10px auto;
}
#logoHeader{
    display:block;
    width: 200px;
    margin: auto;
}
#guestbtn{
    background-color: #ffffff;
    border-radius: 5%;
    border-width: 1px;
}
#loginbtn{
    background-color:#002db3;
    color: #ffffff;
    padding: 15px;
}
#forgotpswd{
    margin: 0;
    color: #757474;;
    text-decoration: none;
}
.userbtn{
    display:block;
    margin: 10px auto;
    width: 340px;
    border-width: 1px;
}
input{
    width: 340px;
    height: 47px;
}
hr{
    width: 30px;
    border-width: 1px;
}
